services:
    postgres:
      restart: unless-stopped
      image: postgres:latest
      environment:
        - POSTGRES_PASSWORD=mysecretpassword
      healthcheck:
        test: ["CMD", "pg_isready","-U" ,"postgres"]
        interval: 10s
        timeout: 5s
        retries: 5
    redis:
      restart: unless-stopped
      image: redis:latest
      healthcheck:
        test: ["CMD", "redis-cli","ping"]
        interval: 10s
        timeout: 5s
        retries: 5
    nginx:
      restart: unless-stopped
      depends_on:
        - frontend
        - backend
      build:
        context: ./nginx
        dockerfile: Dockerfile.dev
      ports:
        - 80:80
    frontend:
      restart: unless-stopped
      build:
        context: ./client
        dockerfile: Dockerfile
      volumes: 
      - /usr/app/node_modules
      - ./client:/usr/app
      healthcheck:
        test: ["CMD","ping","localhost:3000"]
        interval: 10s
        timeout: 5s
        retries: 5
    backend:
      restart: unless-stopped
      depends_on:
        - redis
        - postgres
      build:
        context: ./server
        dockerfile: Dockerfile.dev
      volumes:
        - /usr/app/node_modules
        - ./server:/usr/app
      healthcheck:
        test: ["CMD","ping","localhost:5000"]
        interval: 10s
        timeout: 5s
        retries: 5
      environment:
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - PGUSER=postgres
        - PGHOST=postgres
        - PGDATABASE=postgres
        - PGPASSWORD=mysecretpassword
        - PGPORT=5432
    worker:
      restart: on-failure
      depends_on:
        - redis
      build:
        context: ./worker
        dockerfile: Dockerfile.dev
      volumes:
        - /usr/app/node_modules
        - ./worker:/usr/app
      environment:
        - REDIS_HOST=redis
        - REDIS_PORT=6379

