services:
    nginx:
      restart: unless-stopped
      depends_on:
        - frontend
        - backend
      image: $DOCKER_USERNAME/nginx:IMAGE_TAG
      ports:
        - 80:80
      mem_limit: 128m
    frontend:
      restart: unless-stopped
      image: $DOCKER_USERNAME/frontend:IMAGE_TAG
      healthcheck:
        test: ["CMD","curl","localhost:3000"]
        interval: 10s
        timeout: 5s
        retries: 5
      mem_limit: 128m
    backend:
      restart: unless-stopped
      image: $DOCKER_USERNAME/backend:IMAGE_TAG
      healthcheck:
        test: ["CMD","curl","localhost:5000"]
        interval: 10s
        timeout: 5s
        retries: 5
      mem_limit: 128m
      environment:
        - REDIS_HOST=$REDIS_HOST
        - REDIS_PORT=$REDIS_PORT
        - PGUSER=$PGUSER
        - PGHOST=$PGHOST
        - PGDATABASE=$PGDATABASE
        - PGPASSWORD=$PGPASSWORD
        - PGPORT=$PGPORT
    worker:
      restart: on-failure
      image: $DOCKER_USERNAME/worker:IMAGE_TAG
      mem_limit: 128m
      environment:
        - REDIS_HOST=$REDIS_HOST
        - REDIS_PORT=$REDIS_PORT
