services:
    nginx:
      restart: unless-stopped
      depends_on:
        - frontend
        - backend
      image: miku0101/nginx
      ports:
        - 80:80
      mem_limit: 128m
    frontend:
      restart: unless-stopped
      image: miku0101/frontend
      volumes: 
      - /usr/app/node_modules
      - ./client:/usr/app
      healthcheck:
        test: ["CMD","ping","localhost:3000"]
        interval: 10s
        timeout: 5s
        retries: 5
      mem_limit: 128m
    backend:
      restart: unless-stopped
      image: miku0101/backend
      volumes:
        - /usr/app/node_modules
        - ./server:/usr/app
      healthcheck:
        test: ["CMD","ping","localhost:5000"]
        interval: 10s
        timeout: 5s
        retries: 5
      mem_limit: 128m
    worker:
      restart: on-failure
      image: miku0101/worker
      volumes:
        - /usr/app/node_modules
        - ./worker:/usr/app
      mem_limit: 128m
