name: CI and CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Build-and-Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build test image
      run: docker build -t react/test -f Dockerfile.dev ./client
    - name: Test
      run: docker run -e CI=true react/test npm test

    - run: docker build -t miku/frontend ./client
    - run: docker build -t miku/backend ./server
    - run: docker build -t miku/worker ./worker
    - run: docker build -t miku/nginx ./nginx



    - run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
    - run: docker push miku/frontend
    - run: docker push miku/backend
    - run: docker push miku/worker
    - run: docker push miku/nginx

    - name: generate deployment zip
      run: run -r deploy.zip . -x "*.git*"
      
      # - name: Deploy to EB
      #   uses: einaregilsson/beanstalk-deploy@v22
      #   with:
      #     aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     application_name: multiple-docker
      #     environment_name: multiple-docker-env
      #     version_label: ${{ github.sha }}
      #     region: us-east-1
      #     deployment_package: deploy.zip
      




