name: CI and CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Build-and-Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build test image
      run: docker build -t react/test -f ./client/Dockerfile.dev ./client
    - name: Test
      run: docker run -e CI=true react/test npm test

    - run: docker build -t ${{secrets.DOCKER_USERNAME}}/frontend:${{github.sha}} ./client
    - run: docker build -t ${{secrets.DOCKER_USERNAME}}/backend:${{github.sha}} ./server
    - run: docker build -t ${{secrets.DOCKER_USERNAME}}/worker:${{github.sha}} ./worker
    - run: docker build -t ${{secrets.DOCKER_USERNAME}}/nginx:${{github.sha}} ./nginx



    - run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
    - run: docker push ${{secrets.DOCKER_USERNAME}}/frontend:${{github.sha}}
    - run: docker push ${{secrets.DOCKER_USERNAME}}/backend:${{github.sha}}
    - run: docker push ${{secrets.DOCKER_USERNAME}}/worker:${{github.sha}}
    - run: docker push ${{secrets.DOCKER_USERNAME}}/nginx:${{github.sha}}

    - run: sed -i "s/IMAGE_TAG/${{ github.sha }}/g" docker-compose.yml

    - name: generate deployment zip
      run: zip -r deploy.zip . -x "*.git*"
      
    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: multiple-dockers
        environment_name: Multiple-dockers-env 
        version_label: ${{ github.sha }}
        region: us-east-1
        deployment_package: deploy.zip